/* global */
body {
	font:300 16px/22px 'Roboto', sans-serif;
	color:#303030;
}

.clear {
	clear:both;
}

.snIcon, a.snIcon {
	width:37px;
	height:37px;
	display:inline-block;
	float:right;
	margin-left:15px
}

a.snIcon:hover {
	cursor:pointer;
}

.fb {
	background:url(../images/icon-fb.png) no-repeat left top;
}

.fb:hover {
	background:url(../images/icon-fb-hover.png) no-repeat left top;
}

.pin {
	background:url(../images/icon-pinterest.png) no-repeat left top;
}

.pin:hover {
	background:url(../images/icon-pinterest-hover.png) no-repeat left top;
}

.twit {
	background:url(../images/icon-twitter.png) no-repeat left top;
}

.twit:hover {
	background:url(../images/icon-twitter-hover.png) no-repeat left top;
}

.in {
	background:url(../images/icon-linkedin.png) no-repeat left top;
}

.in:hover {
	background:url(../images/icon-linkedin-hover.png) no-repeat left top;
}

/* nav bar */
.navbar-brand {
  background:url(../images/logo-gocibo-transparent.png) no-repeat 20px 20px;
  width:220px !important;
  height:100px !important;
  padding-bottom:0px !important;
}

.navbar-default {
	background:none !important;
	box-shadow:none !important;
}

.navbar-fixed-top {
	border:none !important;
	background:url(../images/transBg.png) repeat left top !important;
}

.navbar-default .navbar-nav > li {
	padding:15px 15px 15px 15px;
}

.navbar-default .navbar-nav > li > a {
	color:#ffffff;
	text-transform:uppercase;
	font:500 14px 'Roboto', Arial, Helvetica, sans-serif;
	padding:0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  border-bottom:2px solid #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background:none;
	color:#ffffff;
	text-decoration:none;
}

.navbar-right {
	margin-top:25px !important;
}

.navPosition {
	border:none;
}

.navbar-custom {
	background-color:#303030 !important;
}

@media screen and (min-width:400px) and (max-width:767px) {
	.topNav .navbar-nav {
		background-color:#303030;
		margin-top:0px;
		margin-bottom:0px;
	}
	
	.navbar-right {
		margin-top:0px !important;
	}
	
	.navbar-brand {
		background:transparent url(../images/logo-gocibo-transparent.png) no-repeat 15px 10px !important;
		height:90px !important;
	}
	
	.navbar {
		margin-bottom:0px;
	}
	
	#becomeGociboBanner .carousel {
		padding-top:110px;
	}
	
	.navbar-default .topNav .navbar-nav > li > a:hover,
	.navbar-default .topNav .navbar-nav > li > a:focus {
	  color: #ffffff;
	  background-color: #303030;
	}
	
	.navbar-default {
		
	}
	
	.navbar-toggle {
		margin-top:25px;
	}
	
	.navbar-header {
		background:url(../images/transBg.png) repeat left top;
	}
	
	.navbar-header-alt {
		background-color:#303030;
	}
	
	.navbar-default .navbar-nav > li > a {
		border-bottom:2px solid #303030;
	}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	
}

/* carousel */
.carousel-control.right, .carousel-control.left {
	background:none !important;
}

.bannerContent1 {
	position:absolute;
	width:80%;
	height:100%;
	top:50%;
	left:50%;
	margin-left:-40%;
	margin-top:-13%;
}

.bannerContent1 img {
	width:100%;
	max-width:450px;
}

h1.banner1Title {
	text-align:left;
	font:300 5vw/5vw 'Roboto', Arial, Helvetica, sans-serif;
	text-shadow:none;
	margin-top:0px;
}

.bannerContent2 {
	position:absolute;
	width:80%;
	height:100%;
	top:50%;
	left:50%;
	margin-left:-40%;
	margin-top:-13%;
	
}

.htbannerAlt2 {
	display:none;
}

.bannerContent2 .rowPadding {
	padding-top:25px;
	padding-bottom:25px;
}

.bannerContent2 img {
	float:left;
	margin-right:20px;;
}

.bannerContent2 p {
	float:left;
	vertical-align:middle;
	text-align:left;
	font-size:22px;
	margin-top:12px;
}

h1.banner2Title {
	text-align:left;
	font:300 45px/50px 'Roboto', Arial, Helvetica, sans-serif;
	text-shadow:none;
	margin-top:20px;
}

.bg1Repeat {
	background:#eb2427 url(../images/banner-bg-repeat.png) left top;
	position:relative;
}

.bg1Repeat .carousel-caption{
	padding:0;
}

.bg2Repeat {
	background:#525252 url(../images/banner-bg-repeat.png) left top;
	position:relative;
}

.bannerContent3 {
	position:absolute;
	width:70%;
	height:100%;
	top:50%;
	left:50%;
	margin-left:-35%;
	margin-top:-13%;
}

.bannerContent3 .carousel-caption {
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.bannerContent3 img {
	width:100%;
	max-width:729px;
}

.bg3NoRpt {
	background:url(../images/gocibo-chef.jpg) no-repeat center;
	position:relative;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 100%;
}

@media screen and (min-width:400px) and (max-width:767px) {
	.bannerContent1 .col-lg-6 {
		float:left;
		width:50%;
	}
	
	.bannerContent1 {
		width:70%;
		margin-left:-35%;
	}
	
	h1.banner1Title {
		text-align:left;
		/*font:300 40px/40px 'Roboto', Arial, Helvetica, sans-serif;*/
		text-shadow:none;
		margin-top:0px;
	}
	
	.htbannerAlt2 {
		display:block;
		width:80%;
		top:50%;
		left:50%;
		margin-left:-40%;
		margin-top:-15%;
	}
	
	.htbannerAlt2 img{
		width:100%;
	}
	
	.bannerContent2 {
		display:none;
	}
	
	.bannerContent3 .carousel-caption {
		bottom:0px;
		padding-bottom:0;
	}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	
	.bannerContent1 .col-lg-6 {
		float:left;
		width:50%;
	}
	
	
	
	h1.banner1Title {
		text-align:left;
		/*font:300 60px/60px 'Roboto', Arial, Helvetica, sans-serif;*/
		text-shadow:none;
	}

	.htbannerAlt2 {
		display:block;
		width:80%;
		top:50%;
		left:50%;
		margin-left:-40%;
		margin-top:-15%;
	}
	
	.htbannerAlt2 img{
		width:100%;
		max-width:881px;
	}
	
	.bannerContent2 {
		display:none;
	}
	
	.bannerContent3 .carousel-caption {
		bottom:0px;
		padding-bottom:0;
	}
	
	nav .container {
		width:100%;
	}
	
	.navbar-brand {
		width:210px !important;
	}
}

@media screen and (min-width:1200px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		margin:auto;
	}
	
	.bannerContent2 {
		width:80%;
	}
}

/* how it works */
#howItWorks {
	background-color:#f7f6f5;
	padding-bottom:100px;
}

#howItWorks .row {
	margin-top:50px;
}

h2 {
	border-top:0px;
	border-right:3px solid #fbb11a;
	border-bottom:3px solid #fbb11a;
	border-left:3px solid #fbb11a;
	border-radius:0 0 10px 10px;
	text-align:center;
	padding:20px;
	margin:0 auto 0 auto;
	font-weight:300;
}

#howItWorks h2 {
	width:225px;
}

#howItWorks .col-lg-4 {
	text-align:center;
}

#howItWorks .col-lg-4 p.btn {
	text-align:center !important;
	margin-top:14px;
	margin-bottom:20px;
}

#howItWorks .col-lg-4 p.txt {
	text-align:left;
	margin:0 40px;
}

@media screen and (min-width:400px) and (max-width:767px) {
	#howItWorks {
		
	}
	
	#howItWorks .row .col-lg-4{
		margin-bottom:30px;
	}
	
	#howItWorks .col-lg-4 p.txt {
		margin:0 10% 0 39%;
	}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	#howItWorks .col-lg-4 p.txt {
		text-align:center;
	}
	
	#howItWorks .row .col-lg-4{
		margin-bottom:40px;
	}
}

/* Delivery slots */
#deliverySlots {
	background-color:#303030;
}

#deliverySlots h2 {
	width:235px;
	color:#ffffff;
	margin-bottom:50px;
}

#deliverySlots .deliverLunchDinner {
	position:relative;
	padding-bottom:135px;
}

.deliverLunchDinner img {
	position:absolute;
	left:50;
}

#deliverySlots .deliverLove {
	background-color:#5b5b5b;
	padding:60px 0;
}

.deliverLove {
	margin:auto;
	background-color:#5b5b5b;
	padding:50px 0;
}

.deliverLove .col-lg-8 p {
	color:#ffffff;
	margin-top:30px;
}

#deliverySlots .lunch {
	padding:0 0 0 55px;
}

#deliverySlots .dinner {
	padding:0 55px 0 0px;
}

.boxStyle1 {
	background-color:#515151;
	border-radius:10px;
	width:80%;
	float:right;
	margin-top:35px;
	color:#ffffff;
	position:relative;
}

.lunch .boxStyle1 {
	padding:25px 25px 25px 130px;
}

.lunch .boxStyle1 img {
	top:50%;
	left:0;
	margin-left:-107px;
	margin-top:-93px;
}

.dinner .boxStyle1 {
	padding:25px 25px 25px 50px;
}

.dinner .boxStyle1 img {
	top:50%;
	left:0;
	margin-left:-107px;
	margin-top:-93px;
}

@media screen and (min-width:400px) and (max-width:767px) {
	#deliverySlots .lunch {
		padding:0;
		margin-right:5%;
		margin-bottom:70px;
	}
	
	#deliverySlots .dinner {
		padding:0;
		margin-right:5%;
	}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	#deliverySlots .lunch {
		padding:0;
		margin-right:5%;
		margin-bottom:70px;
	}
	
	#deliverySlots .dinner {
		padding:0;
		margin-right:5%;
	}
}

/* chefs */
#ourChefs {
	background-color:#ec1e24;
	color:#ffffff;
	font-weight:400;
	padding-bottom:110px;
}

#ourChefs h2 {
	margin-bottom:50px;
	width:125px;
}

/* contact us */
#contactUs {
	background-color:#f7f6f5;
	padding-bottom:30px;
}

#contactUs h2 {
	width:200px;
	margin-bottom:60px;
}

#contactUs p {
	color:#ec1e24;
}

#contactUs textarea.feedback {
	width:100%;
	height:80px;
	margin-bottom:20px;
	background-color:#f6921e;
	border-radius:10px;
	color:#ffffff;
	border:none;
	padding:10px;
}

.dropMail {
	color:#303030 !important;
	font-size:14px;
	text-align:center;
	margin-top:80px;
}

/* testimonials */
#testimonials .bannerTitle {
	text-align:left;
	font-weight:300;
	font-size:35px;
	line-height:40px;
}

#testimonials p {
	text-shadow:none;
	text-align:right;
	color:#F6921E;
}

#testimonials .carousel-caption {
		padding-bottom:0;
		bottom:50%;
		margin-bottom:-80px;
}

.testi1 {
	background:url(../images/banner-testi-1.jpg) no-repeat center;
	text-align:center;
}

.testi1 img {
	text-align:center;
}

@media screen and (min-width:400px) and (max-width:767px) {
	#testimonials .bannerTitle {
	font-size:25px;
	}

	#testimonials p {
		font-size:14px;
	}
	
	#testimonials .carousel {
		top:0px;
		margin-bottom:0px;
	}
	
	#testimonials .carousel-caption {
		padding-bottom:0;
		bottom:50%;
		margin-bottom:-80px;
	}
}

/* footer */
.footNavContainer {
	background-color:#ec1e24 !important;
}

.footNavContainer nav {
	border:none;
}

.footNavContainer .navbar {
	margin:10px 0px !important;
}

.footNavContainer #navbar {
	margin-left:0px !important;
}

.footNavContainer .navbar-collapse {
	padding-left:0px !important;
}

.footNavContainer .navbar-nav > li {
	padding:17px 10px 13px;
}

.footNavContainer .navbar-nav > li > a {
	padding:0;
	border-bottom:2px solid #ec1e24;
}

.footerNav {
	background-color:#ec1e24 !important;
}

footer .row p {
	text-align:center;
	font-size:14px;
}

.copyRight {
	background-color:#f7f6f5;
	padding:15px 0 5px 0;
}

.socialIcons {
	margin-top:17px;
	margin-bottom:16px;
}

.socialIcons img {
	margin-left:20px;
	float:right;
}

@media screen and (min-width:400px) and (max-width:767px) {
	footer .collapse {
		display:block;
	}
	
	footer.navbar-nav {
		background-color:none;
	}
	
	footer .navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:none;
	}
	
	footer .navbar-collapse {
		box-shadow:none;
	}
}

/* become a gocibo chef */
#becomeGociboBanner {
	background-color:#f6921e;
	min-height:463px;
}

#becomeGociboBanner h1.banner2Title {
	border-radius:10px;
	text-align:center;
	padding:8px 20px;
	display:inline-block;
	background-color:#ec1e24;
}

.bbContentAlt {
	display:none;
}

.becomeBannerContent {
	left:15%;
	right:15%;
	bottom:50px;
}

.becomeBannerContent .rowPadding {
	padding-top:25px;
	padding-bottom:25px;
}

.becomeBannerContent img {
	float:right;
}

.becomeBannerContent p {
	float:left;
	vertical-align:middle;
	text-align:left;
	font-size:16px;
	margin-top:12px;
	text-shadow:none;
	font-weight:400;
}

#steps {
	background-color:#f7f6f5;
}

.step {
	position:relative;
	margin-bottom:20px;
	min-height:100px;
}

#steps .stepNo {
	background-color:#3d3d3d;
	border-radius:50px;
	width:100px;
	height:100px;
	color:#fdba14;
	font:700 80px/65px 'Roboto', Arial, Helvetica, sans-serif;
	display:inline-block;
	text-align:center;
	padding:15px;
	position:relative;
	z-index:1;
}

#steps .stepDesc {
	background-color:#fdba14;
	border-radius:10px;
	padding:20px 20px 20px 70px;
	color:#f04520;
	display:inline-block;
	position:absolute;
	top:20px;
	left:5%;
	font-size:26px;
	font-weight:700;
	text-transform:uppercase;
	width:95%;
}

#steps .stepSecDesc {
	border-radius:8px;
	padding:0 0 0 10%;
	font-size:16px;
	min-height:44px;
	float:left;
	width:70%;
	margin-top:15px;
}

#steps .stepSecDesc img{
	
	float:left;
}

#steps article {
	padding:50px 0;
	border-bottom:1px solid #f6ab54;
}

#steps article .container {
	width:89%;
}

#steps .call {
	padding:0 12% 0 10%;
	background:url(../images/icon-call.png) no-repeat left top, url(../images/icon-whatsapp.png) no-repeat right top;
	min-height:70px;
	margin-top:10px;
}

#steps .call p{
	padding-top:10px;
}

#steps .col-lg-8 {
	margin:auto;
	float:none;
}

ul.paymentList {
	margin-top:5%;
}

.paymentList .fa-circle {
	font-size:14px;
	color:#ec1e24;
	margin-right:20px;
	margin-top:-1px;
}

.paymentList li {
	margin-bottom:20px;
}

article.deliverLove {
	background-color:#FCB917;
}

article.deliverLove img.loveText {
	width:100%;
	max-width:480px;
}

article.deliverLove img.loveTiffin {
	width:100%;
	max-width:73px;
}

@media screen and (min-width:480px) and (max-width:767px) {
	.becomeBannerContent {
		display:none;
	}
	
	.bbContentAlt {
		display:block;
		margin-bottom:-100px;
		bottom:50%;
	}
	
	.bbContentAlt img {
		width:100%;
	}
	
	article.step2 img {
		width:100%;
		max-width:591px;
	}
	
	#becomeGociboBanner .carousel-caption {
		left:10%;
		right:10%;
	}
	
	#steps .call {
	padding:0 17% 0 15%;
	}
	
	#steps .stepDesc {
	left:10%;
	font-size:20px;
	width:90%;
}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	.becomeBannerContent {
		display:none;
	}
	
	.bbContentAlt {
		display:block;
		margin-bottom:-200px;
		bottom:50%;
	}
	
	.bbContentAlt img {
		width:100%;
		max-width:959px;
	}
	
	#becomeGociboBanner .carousel-caption {
		left:15%;
		right:15%;
	}
}

@media screen and (min-width:1200px) {
	.becomeBannerContent {
		width:900px;
		margin:auto;
	}
	
	#steps article .container {
		width:1170px;
	}
}

/* careers */
#careers {
	background-color:#fbb11a;
	padding-bottom:50px;
}

#careers h2 {
	display:inline-block;
	color:#303030;
	border-color:#f04322;
	margin-bottom:50px;
}

/*.carouselBg {
	width:250px;
	background-color:#f7f6f5;
	display:block;
}*/

a.mailto, .mailto a {
	color:#f7f6f5;
}

a.mailto:hover, a.mailto:focus {
	color:#ffffff !important;
}

#myCarousel3 .carousel-caption {
	left:10%;
	right:10%;
	color:#303030;
	text-shadow:none;
	bottom:35px;
	position:unset !important;
	padding-left:10%;
	padding-right:10%;
}

#myCarousel3 .carousel-caption img {
	float:left;
}

#myCarousel3 .carousel-caption p {
	display:inline-block;
	text-align:left;
	margin-top:32px;
	font-weight:400;
}

#myCarousel3 .carousel-caption p span{
	color:#ec1e24;
	font-size:10px;
}

#myCarousel3 .glyphicon-menu-left {
	left:30%;
	font-size:40px;
	color:#ec1e24;
	text-shadow:none;
	position:absolute;
	top:50%;
	height:40px;
	margin-top:-20px;
}

#myCarousel3 .glyphicon-menu-right {
	right:30%;
	font-size:40px;
	color:#ec1e24;
	text-shadow:none;
	position:absolute;
	top:50%;
	height:40px;
	margin-top:-20px;
}

#myCarousel3 .carousel-control {
	opacity:100;
}

.carouselBg {
	background:url(../images/banner-career.jpg) no-repeat center;
}

@media screen and (min-width:480px) and (max-width:767px) {
	#careers {
		margin-top:90px;
	}
	
	.carousel-inner > .item {
		top:0;
	}
	
	#devCarousel .carousel {
		top:0;
		margin-bottom:0;
	}
	
	#myCarousel3 .carousel-caption {
		position:unset !important;
		padding-top:0;
		top:0;
	}
	
	#myCarousel3 .carousel-caption .col-lg-3 {
		margin-top:25px;
		margin-bottom:25px;
		padding:0 25%;
	}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	.carousel-inner > .item {
		top:0;
	}
	
	#devCarousel .carousel {
		top:0;
		margin-bottom:0;
	}
	
	#myCarousel3 .carousel-caption {
		position:unset !important;
		padding-top:0;
		top:0;
	}
	
	#myCarousel3 .carousel-caption .col-lg-3 {
		margin-top:25px;
		margin-bottom:25px;
		padding:0 25%;
	}
}

@media screen and (min-width:1200px) {
	
}

/* about us */
#aboutBanner .carouselBg {
	background:url(../images/banner-about-us.jpg) no-repeat center;
}

#aboutUs {
	background-color:#f7f6f5;
	padding-bottom:100px;
}

#aboutUs h2 {
	display:inline-block;
	color:#303030;
	border-color:#f04322;
	margin-bottom:50px;
}

@media screen and (min-width:480px) and (max-width:767px) {
	#aboutUs {
		margin-top:90px;
	}
}

/* quality control */
#qControlBanner {
	background-color:#f6921e;
	padding-bottom:60px;
	padding-top:150px;
}

#qControlBanner p {
	color:#ffffff;
}

#qControlBanner h1 {
	border-radius:10px;
	text-align:center;
	padding:8px 20px;
	display:inline-block;
	background-color:#fdba14;
	font-weight:300;
	margin-bottom:30px;
	font-size:45px;
}

#qControl {
	background-color:#f7f6f5;
	padding-bottom:100px;
	padding-top:50px;
}

#qControl h2 {
	color:#ec1e24;
	font-weight:300;
	text-transform:uppercase;
	border:none;
}

/* terms and conditions */
#tac {
	background-color:#f7f6f5;
	padding-bottom:60px;
	padding-top:30px;
	line-height:16px;
}

#tac h1 {
	border-radius:10px;
	text-align:center;
	padding:8px 20px;
	display:inline-block;
	background-color:#fdba14;
	font-weight:300;
	margin-bottom:30px;
	font-size:45px;
}

#tac p.subHead {
	text-transform:uppercase;
	margin:20px 0 0 0;
	font-size:12px;
}

#tac p {
	margin-bottom:6px;
	font-size:11px;
}

/* buttons */
.btn-xl,
.btn-group-xl > .btn {
  padding: 10px 16px;
  font:300 37px 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.3333333;
  border-radius: 6px;
	width:277px;
	
}

.btn-danger {
	background-color:#ec1e24;
}

.btn-gray {
  color: #ffffff;
  background-color: #303030;
  font-weight:300;
  font-size:24px;
}

.btn-gray:focus,
.btn-gray.focus {
  color: #ffffff;
  background-color: #202020;
}

.btn-gray:hover {
  color: #ffffff;
  background-color: #202020;
}

.btn-gray:active,
.btn-gray.active  {
  color: #ffffff;
  background-color:#202020;
}

/* margins */
.mt10 {
	margin-top:10px;
}

.mt30 {
	margin-top:30px;
}

.mt40 {
	margin-top:40px;
}

.mt50 {
	margin-top:50px;
}

.mt100 {
	margin-top:100px;
}

.mr10{
	margin-right:10%;
}

.w100 {
	width:100%;
}

.f_l {
	float:left;
}

/* fonts */
.allCaps {
	text-transform:uppercase;
}